[submodule "era-test-node"]
	path = era-test-node
	url = git@github.com:koloz193/era-test-node.git
[submodule "slingshot"]
	path = slingshot
	url = git@github.com:koloz193/slingshot.git
	branch = "stable"
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
